

<div class="container">
 
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">ALL</a></li>
  <li><a data-toggle="tab" href="#DC">DC</a></li>
  <li><a data-toggle="tab" href="#MARVEL">MARVEL</a></li>
</ul>

<div class="tab-content">

   <div id="home" class="tab-pane fade in active">
     <app-list [arrayinList]="arrayinTab" (MessageEventDCList)="MessageEventDCTab($event)" (MessageEventMARVELList)="MessageEventMARVELTab($event)"></app-list>
   </div>
  
   <div id="DC" class="tab-pane fade">
      <app-list [DCinList]="DCTabHeroes" (MessageEventDCList)="MessageEventDCTab($event)" (MessageEventMARVELList)="MessageEventMARVELTab($event)"></app-list>
   </div>

  <div id="MARVEL" class="tab-pane fade">
      <app-list [MARVELinList]="MARVELTabHeroes" (MessageEventDCList)="MessageEventDCTab($event)" (MessageEventMARVELList)="MessageEventMARVELTab($event)"></app-list>
  </div>

</div>

    

</div>