 
   <ul>
      <li *ngFor="let hero of allTabHeroes" style="color:blueviolet; margin-bottom:10px ;text-align:left">{{hero}} 
        <span><button type="button" class="btn btn-primary btn-xs pull-right" (click)="goToDCfromALL(hero)">DC</button></span>
        <span><button type="button" class="btn btn-primary btn-xs pull-right" (click)=" goToMARVELfromALL(hero)">MARVEL</button></span>
      </li>
    </ul> 

    <ul>
      <li *ngFor="let hero of DCinItem" style="color:blueviolet; margin-bottom:10px ;text-align:left">{{hero}} 
        <span><button type="button" class="btn btn-primary btn-xs pull-right" (click)="goToMARVELfromDC(hero)">MARVEL</button></span>
      </li>
    </ul> 
 

    <ul>
      <li *ngFor="let hero of MARVELinItem" style="color:blueviolet; margin-bottom:10px ;text-align:left">{{hero}} 
        <span><button type="button" class="btn btn-primary btn-xs pull-right" (click)="goToDCfromMARVEL(hero)">DC</button></span>
       </li>
    </ul>   

